.App {
  text-align: center;
  background-color: maroon;
  border: forestgreen solid 3px;
  border-radius: 3%;
  margin: 1%;
  max-width: 50%;
  min-height: max-content;
}

.App-logo {
  height: 45vmin;
  border-radius: 18%;
  border: crimson solid 2px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: forestgreen;
}

button:hover {
  transform: scale(1.2);
}
