.App {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  max-width: 75%;
  align-content: center;
}

.App > * {
  padding: 10px;
  flex: 1 100%;
}

.App-img {
  border-radius: 9%;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.Header {
  background-color: maroon;
  font-size: calc(12px + 2vmin);
}

.Main {
  color: green;
}

.Aside-1 {
  background-color: lightgoldenrodyellow;
}

.Aside-2 {
  background-color: greenyellow;
}

.Footer {
  background-color: darkgrey;
  display: flex;
  border: burlywood solid 3px;
}

.Button {
  background-color: lightgoldenrodyellow;
  justify-content: space-around;
  border-radius: 3%;
}

.Button:hover {
  transform: scale(1.29);
}

@media all and (min-width: 600px) {
  .Aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .Main { flex: 3 0px; }
  .Aside-1 { order: 1; }
  .Main    { order: 2; }
  .Aside-2 { order: 3; }
  .Footer  { order: 4; }
}

body {
  padding: 2px;
  background-color: maroon;
}

h4 {
  text-align: center;
}

.Wrapper {
  padding: 1%;

}
