.App {
  text-align: center;
  background-color: maroon;
  border: forestgreen solid 3px;
  border-radius: 3%;
  margin: 1%;
  max-width: 75%;
  min-height: 75%;
}

.App-header {
  background-color: maroon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-img {
  border-radius: 9%;
  border: forestgreen solid 2px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: forestgreen;
}

button {
  background-color: lightgoldenrodyellow;
}

button:hover {
  transform: scale(1.29);
}
